<p>
    Tabela 36 — Capacidades de condução de corrente, em ampères, para os métodos de referência
    <br />
    A1, A2, B1, B2, C e D
</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fios-table md-padding">
    <!-- Position Column -->
    <ng-container matColumnDef="corrente">
        <th mat-header-cell *matHeaderCellDef>Corrente/A</th>
        <td mat-cell *matCellDef="let element">{{element.corrente}}</td>
    </ng-container>

    <!-- Espessura Column -->
    <ng-container matColumnDef="espessura">
        <th mat-header-cell *matHeaderCellDef>(1)</th>
        <td mat-cell *matCellDef="let element">{{element.espessura}}</td>
    </ng-container>

    <!-- A1-2 Column -->
    <ng-container matColumnDef="a1_2">
        <th mat-header-cell *matHeaderCellDef>(2)</th>
        <td mat-cell *matCellDef="let element">{{element.a1_2}}</td>
    </ng-container>

    <!-- A1-3 Column -->
    <ng-container matColumnDef="a1_3">
        <th mat-header-cell *matHeaderCellDef>(3)</th>
        <td mat-cell *matCellDef="let element">{{element.a1_3}}</td>
    </ng-container>

    <!-- B1-2 Column -->
    <ng-container matColumnDef="b1_2">
        <th mat-header-cell *matHeaderCellDef>(4)</th>
        <td mat-cell *matCellDef="let element">{{element.b1_2}}</td>
    </ng-container>

    <!-- B1-3 Column -->
    <ng-container matColumnDef="b1_3">
        <th mat-header-cell *matHeaderCellDef>(5)</th>
        <td mat-cell *matCellDef="let element">{{element.b1_3}}</td>
    </ng-container>

    <!-- A1 -->
    <!-- <mat-text-column name="a1-title" [attr.colspan]="2" >A1</mat-text-column> -->

    <!-- mm2 -->
    <ng-container matColumnDef="mm">
        <th [attr.rowspan]="2" mat-header-cell *matHeaderCellDef> Seções <br /> nominais <br /> mm² </th>
    </ng-container>

    <!-- A1 -->
    <ng-container matColumnDef="a1-title">
        <th [attr.colspan]="2" [style.text-align]="'center'" mat-header-cell *matHeaderCellDef> A1 </th>
    </ng-container>

    <!-- B2 -->
    <ng-container matColumnDef="b1-title">
        <th [attr.colspan]="2" [style.text-align]="'center'" mat-header-cell *matHeaderCellDef> B1 </th>
    </ng-container>

    <!-- 2 Condutores -->
    <ng-container matColumnDef="cond-2">
        <th [style.text-align]="'center'" mat-header-cell *matHeaderCellDef> 2 condutores <br /> carregados </th>
    </ng-container>

    <!-- 3 Condutores -->
    <ng-container matColumnDef="cond-3">
        <th [style.text-align]="'center'" mat-header-cell *matHeaderCellDef> 3 condutores <br /> carregados </th>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="['mm']"></tr> -->
    <tr mat-header-row *matHeaderRowDef="['mm', 'a1-title', 'b1-title']"></tr>

    <tr mat-header-row *matHeaderRowDef="['cond-2', 'cond-3','cond-2', 'cond-3']"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr *matRowDef="let row; columns: displayedColumns;" mat-row [class.fios-row-is-clicked]="clickedRows.has(row)">
    </tr>
</table>