// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

.fios-table {
    width: 100%;
    * {
        text-align: center;
        padding-left: 0 !important; //reset
    }
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.fios-row-is-clicked {
    font-weight: bold;
    background-color: $primary;
    color: $accent;
}

.fios-row-is-clicked > td {
    color: #fff;
}

th.mat-header-cell,
td.mat-cell {
     border: 1px solid rgba(0, 0, 0, .12);
}